.pkcard{
    border: 5px solid #2468B1;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: #FCCF00;
    border-radius: 10px;
    margin: 5px;
    min-width: 300px;
    width: fit-content;
}
.pktitle{
    display: flex;
    flex-direction: row;
}
.pktitle > *{
    background-color: azure;
    border-radius: 25px;
    min-width: 50px;
    margin: 3px;
    padding: 0px 5px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
.pktypes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.pkbase{
    display: flex;
    flex-direction: column;
    background-color: azure;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.pkdelete{
    border-radius: 25px;
}
.error{
    margin: 5px;
}